.videos {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#video-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#video-list li {
	margin-bottom: 10px;
}

#video-list img {
	float: left;
	margin-right: 10px;
}

.card-title{
  font-size: 15px;
  font-weight:normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}